body{
    margin: 0;
    background-color: black;
}

h1,p,span,div{
    color: #ffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffee00;
}

.app{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.parent-control{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(153, 0, 255);
    padding: 10px;
}

.tree{
    width: 100%;
    display: flex;
    border: 2px solid black;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(153, 0, 255);
}

.parent-section{
    padding: 10px;
    flex-direction: column;
    display: flex;
}

.node-content{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.inner-content{
    display: flex;
}

.children-section{
    display: flex;
    margin:12px 0 0 40px ;
    flex-direction: column;
}
